{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Home
{% endblock title %}

{% block body %}
{% comment %} for messages {% endcomment %}
{% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong> </strong>{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}    

{% endif %}
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .card-img-top {
    height: 262px;
    width: 100%;
    object-fit: cover;
  }
  .card-text {
    font-size: 16px;
    color: #666;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>


<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Welcome to Shopify Store</h2>
      <p>Discover amazing deals on a variety of products!</p>
    </div>

    {% for product, range, nslides in all_products %} 
    <h3 class="my-3 text-center text-success bg-light">{{ product.0.category }} Flash Sale</h3>
    <div class="row">
      {% for i in product %}
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="card">
          <img src="{{ i.product_photo.url }}" class="card-img-top" alt="not found">
          <div class="card-body">
            <h5 class="card-title">{{ i.product_name }}</h5>
            <p class="card-text">{{ i.desc|safe }}..</p>
            <h6 class="card-title">
              Price: <span id="pricepr{{ i.id }}">{{ i.price|intcomma }} $</span>
            </h6>
            <div class="text-center">
              <button id="pr{{ i.product_id }}" class="btn btn-primary btn-sm mt-2">Add to Cart</button>
              <a href="{{ i.product_photo.url }}" class="btn btn-dark btn-sm mt-2">View</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>


  {% endblock body %}